.manual {
  minHeight: 100vh;
  display: flex;
  align-content: center;
  padding: 3rem;
  margin: 5rem 0;
}

.manualContainer {
  display: flex;
  justify-content: space-around;
}

.manualImg {
  margin: 0 2rem
}